#menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    background: #ccc;
}

#menu a {
    display: block;
    padding: 15px;
    margin: 15px 0;
    text-decoration: none;

    background: white;
    color: black;
    box-shadow: 0 8px #ffcc66;
}

#menu a:hover, #menu a.active {
    background: #66ccff;
    color: white;
    box-shadow: 0 8px #00aaff;
}