body {
    background-color: #d0e6df;
    color: #777e8c;
    font-family: 'Open Sans', sans-serif;
    user-select: none;
    -webkit-user-select: none;

    width: 100vw;
    height: 100vh;
    margin: 0;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}
