.card {
    flex-grow: 1;
    background-color:#95dada;
    border:1px solid grey;
    border-radius:5px;
    padding:25px;
    cursor:pointer;
    transition: transform 0.25s ease-out;
}

.card:hover{
    transform: scale(1.05);
}